<div mat-dialog-title>
  <h1>Appointment</h1>
</div>
<form [formGroup]="empForm" (ngSubmit)="onFormSubmit()">
  <div mat-dialog-content class="content">
    <div class="select-row">
      <mat-select formControlName="subjectOption" placeholder="Subject" class="mat-select">
        <mat-option *ngFor="let option of subjects" [value]="option">
          {{ option }}
        </mat-option>
      </mat-select>
      <mat-select formControlName="levelOption" placeholder="Level" class="mat-select">
        <mat-option *ngFor="let option of levels" [value]="option">
          {{ option }}
        </mat-option>
      </mat-select>
    </div>
    <div class="select-row">
      <mat-form-field appearance="outline">
        <mat-label>Student ID</mat-label>
        <input matInput type="text" formControlName="studentId">
      </mat-form-field>
    </div>
  </div>
  <div mat-dialog-actions class="action">
    <button mat-raised-button mat-dialog-close>Cancel</button>
    <button mat-raised-button color="primary" type="submit">Save</button>
  </div>
</form>
