<h1>Dashboard</h1>
<div class="info-cards">
    <div class="card" *ngFor="let employee of dataSource.data" (click)="openCard(employee.firstName)">
        <div class="card-head"><img [src]="getImage(employee.id)" class="fixed-size-image"></div>
        <div class="card-body">
            <ul>
                <span class="card-property-location">
                    <li>ID: {{employee.id}}</li>
                </span>
                <span class="card-property-description">
                    <li>Name: {{employee.firstName}}</li>
                </span>
                <span class="card-property-description">
                    <li>Last Name: {{employee.lastName}}</li>
                </span>
            </ul>
        </div>
    </div>
</div>