.content {
  padding-top: 10px;
}

.row {
  display: flex;
  gap: 10px;
  align-items: center;
}

.action {
  padding: 0px 25px 20px;
}

.action button {
  flex: 1;
}

::ng-deep .success-snackbar {
  background-color: #4caf50;
  color: #ffffff;
}

::ng-deep .error-snackbar {
  background-color: red;
  color: #ffffff;
}
