<div mat-dialog-title>
    <h1>Employee Form</h1>
</div>
<form [formGroup]="empForm" (ngSubmit)="onFormSubmit()">
    <div mat-dialog-content class="content">
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>First Name</mat-label>
                <input matInput type="text" formControlName="firstName">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Last Name</mat-label>
                <input matInput type="text" formControlName="lastName">
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field appearance="outline" style="width: 100%;">
                <mat-label>Role</mat-label>
                <input matInput type="text" formControlName="role">
            </mat-form-field>
            <mat-slide-toggle class="example-margin" [color]="color" [checked]="checked" style="margin-bottom: 15px;">
                Active
            </mat-slide-toggle>
        </div>
    </div>
    <div mat-dialog-actions class="action">
        <button mat-raised-button mat-dialog-close>Cancel</button>
        <button mat-raised-button color="primary" type="submit">Save</button>
    </div>
</form>